.favourite-box, .new-favourite-box {
  min-height: 200px;
  border-radius: 5px;
  text-decoration: none;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.favourite-box-editmode-new {
  border: 1px dotted #000000;
  min-height: 200px;
  border-radius: 5px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.favourite-box:hover {
  box-shadow: 10px 10px 5px #888888;
  text-decoration: none;
}

.settings i{
  padding-right: 20px;
  margin-bottom: 30px;
  //color: #4fbdbc;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.favourite-container, .new-favourite-container {
  min-height: 200px;
  margin-bottom: 30px;
}

.favourite-box-image, .new-favourite-box-image {
  min-height: 170px;
}

.favourite-box-image i, .new-favourite-box-image i {
  color: black;
  text-decoration: none;
}

.favourite-box-image i:before {
  display: inline-block;
}

.favourite-box-image {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   justify-content: center;
   align-items: center;
   display: flex;
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}
.new-favourite-box-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top: 1px dotted black;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.favourite-box-title, .new-favourite-box-title {
  min-height: 30px;
  text-align: center;
  background-color: #4fbdbc;
  justify-content: center;
  align-items: center;
  display: flex;
}

.favourite-box-title {
  border-bottom: 1px solid black;
  border-bottom-left-radius: 7px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom-right-radius: 7px;
}

.new-favourite-box-title {
  border-bottom: 1px dotted black;
  border-bottom-left-radius: 7px;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  border-bottom-right-radius: 7px;
}

.row {
  padding-top: 100px;
}

.welcome-container {
  display: none;
  }

.welcome-box {
  text-align: center;
}

.settings-container {
  display: none;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

.image-drop-zone {
  border: 1px dotted black;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC) repeat;
}

.image-display-zone {
  height: 100%;
  border: 1px solid black;
}

.single-image-zone {
  height: 150px;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.startpage-container {
padding-top: 30px;
position: fixed;
z-index: -99;
width: 100%;
height: 100%;
background-size: cover;
}
